//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2018  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends network_layout

block net_content
  script.
    $(function() {
      $('.authCheck').on('click', function() {
        $.post('', {'id': this.value, 'auth': this.checked});
      });
    });

    $(function() {
      $('.bridgeCheck').on('click', function() {
        $.post('', {'id': this.value, 'activeBridge': this.checked});
      });
    });

    $(function() {
      $('.text').on('change', function() {
        $.post('', {'id': this.name, 'name': this.value});
      });
    });

  form(method='POST' action='')
    table.table.table-responsive.table-striped.table-hover
      tr
        td(width='3%')
          = ''
        td(width='15%')
          | Member name
        td(width='10%')
          | Member ID
        td(width='10%')
          | Authorized
        td(width='12%')
          | Active bridge
        td(width='3%')
          | Version
        td(width='15%')
          | Path Address
        td(width='15%')
          | Last Time Seen
        td(width='5%')
          | Latency
        td(width='17%')
          | IP assignment
      each member in members
        tr
          - let url = '/controller/network/' + network.nwid + '/member/' + member.id
          td
            a(href=url + '/delete')
              i.glyphicon.glyphicon-trash
          td
            input.form-control.text(type='text' name=member.id value=member.name)
          td
            if  member.Paddress
              a(href=url style={color:'green'}) #{member.id}
            else
              a(href=url style={color:'red'}) #{member.id}
          td
            input.authCheck(type='checkbox' value=member.id checked=(member.authorized? true : false))
          td
            input.bridgeCheck(type='checkbox' value=member.id checked=(member.activeBridge? true : false))
          td
            if member.version
              p #{member.version}
            else
              p Unknown
          td
            if member.Paddress
              p #{member.Paddress}
            else
              p Unknown
          td
            if member.PlastReceive
              p #{moment(member.PlastReceive).fromNow()}
            else
              p Unknown
          td
             if (member.latency != -1)
               p #{member.latency}
             else
               p Unknown
          td
            each ipAssignment in member.ipAssignments
              a(href='/controller/network/' + network.nwid + '/member/' + member.id + '/ipAssignments')
                each digit in ipAssignment
                  = digit
                = ' '
            else
              a(href='/controller/network/' + network.nwid + '/member/' + member.id + '/ipAssignments')
                | IP assignment

      else
        .alert.alert-info
          strong There are no members on this network - invite users to join #{network.nwid}

    a.btn.btn-default(href='' name='refresh' role='button') Refresh

    if errors
      ul
        for err in errors
          li!= err.msg
