//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends controller_layout

block content
  h1= title

  if error
    b #{error}
  else
    table.table.table-responsive.table-striped.table-hover
      tr
        th(width='3%')
          = ''
        th(width='20%')
          | Network name
        th(width='20%')
          | Network ID
        th(width='8%')
          = ''
        th(width='12%')
          = ''
        th(width='37%')
          = ''
      each network in networks
        - const nwurl = '/controller/network/' + network.nwid;
        tr
          td
            a(href=nwurl + '/delete')
              i.glyphicon.glyphicon-trash
          td
            a(href=nwurl) #{network.name}
          td
            = network.nwid
          td
            a(href=nwurl) detail
          td
            a(href=nwurl + '/easy') easy setup
          td
            a(href=nwurl + "#members") members

      else
        .alert.alert-info
          strong There are no networks on this network controller - click "Add network" above to create a new network.
