//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2018  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends network_layout

block net_content
  if error
     b #{error}
  else
    - if (members !== undefined)
      a(href='/controller/network/' + network.nwid + '/members')
        h3 Members
      each value, key in members
        .row
          .col-sm-2
            a(href= network.nwid + '/member/' + key) #{key}
          .col-sm-10
            | revision: #{value}

    h3= title
    each value, key in network
      .row
        .col-sm-2
          a(href= network.nwid + '/' + key) #{key}:
        .col-sm-10
          - if ((!!value ) && (value.constructor == Object || value.constructor == Array))
              p #{JSON.stringify(value)}
          - else
              | #{value}

    a.btn.btn-default(href='/controller/networks' name='networks' role='button') Networks
